@import "blocks/reboot";
@import "blocks/container";
@import "blocks/fonts";

body {
    overflow-x: hidden;
}
.section-title {
    font-size: 56px;
    font-family: 'Pt-Serif';
}

@import "blocks/btn";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/history";
@import "blocks/lunch";
@import "blocks/reviews";
@import "blocks/about";
@import "blocks/reserve";
@import "blocks/footer";
