<section class="about">
    <div class="container">
        <h4 class="about-slogan">Press</h4>
        <h2 class="section-title about-title">About Us</h2>
        <div class="about-wrapper">
            <div class="about__box">
                <img class="about__box__img" src="imges/img/about-new-york.png" alt="The News York Times">
                <p class="about__box__desc">
                    "Apparently we had reached a great
                    height in the atmosphere, for the sky was a
                    dead black, and the stars had ceased to twinkle.
                    By the same illusion which lifts the horizon of
                    the sea to the level."
                </p>
                <h5 class="about__box__subtitle">The New York Times</h5>
            </div>
            <div class="about__box">
                <img class="about__box__img" src="imges/img/about-guardian.png" alt="Guardian">
                <p class="about__box__desc">
                    "Apparently we had reached a great height
                    the atmosphere, for the sky was a dead black,
                    and the stars had ceased to twinkle.
                    By the same illusion which lifts the horizon
                    of the sea to the level."
                </p>
                <h5 class="about__box__subtitle">The Guardian</h5>
            </div>
            <div class="about__box">
                <img class="about__box__img" src="imges/img/about-journal.png" alt="Journal">
                <p class="about__box__desc">"Apparently we had reached a
                    great height in the atmosphere, for the
                    sky was a dead black, and the stars
                    had ceased to twinkle. By the same illusion
                    which lifts the horizon of the sea to the
                    level."
                </p>
                <h5 class="about__box__subtitle">The Wall Street Journal</h5>
            </div>
        </div>
    </div>
</section>