<section class="footer">
        <div class="container">
            <h2 class="footer-title">Rest</h2>
            <nav class="menu footer-menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="#" class="menu__item-link">About Us</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Menu</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Events</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">News</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header-social footer-social">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__item-link">
                            <img src="./imges/icon/facebook.svg" alt="Social icon facebook">
                        </a>
                    </li>
                    <li class="header-social__item">
                        <a href="#" class="header__item-link">
                            <img src="./imges/icon/twitter.svg" alt="Social icon twitter">
                        </a>
                    </li>
                    <li class="header-social__item">
                        <a href="#" class="header__item-link">
                            <img src="/Rest/app/imges/icon/instagram.svg" alt="Social icon instagram">
                        </a>
                    </li>
                </ul>
            </div>
            <p class="copyright">2022 Lectrum LLC. All Rights Reserved.</p>
        </div>
</section>