<section class="history">
    <div class="container">
        <div class="history-wrapper">
                <img class="history__img" src="imges/img/history-bitmap.jpg" alt="kitchen picture">
            <div class="histoty__info">
                <h3 class="history__slogan">Discover</h3>
                <h2 class="section-title history__title">Our History</h2>
                <p class="history__text">
                    A peep at some distant orb has power to raise 
                    and purify our thoughts like a strain of sacred music,
                    or a noble picture, or a passage from the grander poets.
                    It always does one good.
                </p>
                <a href="#" class="btn btn-histoty">Read more</a>   
            </div>
            <img class="history__dots-img" src="imges/img/history-shape.svg" alt="dots background">
        </div>
        <div class="history-icon">
            <div class="history__circle">
                <img class="histoty__fork-img" src="imges/icon/history-icon.svg" alt="fork icon">
            </div>
        </div>
    </div>
</section>