<section class="history">
    <div class="history-wrapper">
        <div class="history-images">
            <img class="history-img" src="imges/img/history-bitmap.jpg" alt="kitchen picture">
        </div>
        <div class="histoty-info">
            <h3 class="history-slogan">Discover</h3>
            <h2 class="history-title">Our History</h2>
            <p class="history-text">
                A peep at some distant orb has power to raise 
                and purify our thoughts like a strain of sacred music,
                or a noble picture, or a passage from the grander poets.
                It always does one good.
            </p>
            <a href="#" class="btn history-btn">Read more</a>   
        </div>
        <img class="history-dots-bg" src="imges/img/history-shape.svg" alt="dots background">
    </div>
    <div class="history-icon">
        <div class="history-radius">
            <img class="histoty-icon-fork" src="imges/icon/history-icon.svg" alt="fork">
        </div>
    </div>
    
</section>