<section class="lunch">
    <div class="container">
        <h4 class="lunch-slogan">Tasty dishes</h4>
        <h2 class="lunch-title">For Lunch</h2>
        <div class="lunch-wrapper">
            <div class="lunch__left">
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Huitlacoche Tamle</p>
                        <p class="lunch__desc"> Served pickled ginger and chopsticks</p> 
                    </div>
                    <p class="lunch__price">$14.00</p>
                </div>
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Creole Tempeh</p>
                        <p class="lunch__desc">Served with soy sauce, wasabi, pickled  chopsticks</p>
                    </div>
                    <p class="lunch__price">$14.00</p>
                </div>
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Polenta Nera Cake</p>
                        <p class="lunch__desc">Served with soy sauce, wasabi, pickled ginger</p>
                    </div>
                    <p class="lunch__price">$13.00</p>
                </div>
            </div>
            <div class="lunch__right">
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Mediterranean Salad</p>
                        <p class="lunch__desc">Soy sauce, wasabi, pickled ginger and chopsticks</p>
                    </div>
                    <p class="lunch__price">$17.00</p>
                </div>
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Pumpkin Curry</p>
                        <p class="lunch__desc">Sauce, wasabi, pickled ginger and chopsticks</p>
                    </div>
                    <p class="lunch__price">$22.00</p>
                </div>
                <div class="lunch__item">
                    <img class="lunch__img" src="imges/img/lunch-images.png" alt="preview lunch">
                    <div class="lunch__text">
                        <p class="lunch__desc-title">Warm Kipfler Potato</p>
                        <p class="lunch__desc">Wasabi, pickled ginger and chopsticks</p>
                    </div>
                    <p class="lunch__price">$24.00</p>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-lunch">Full menu</a>
    </div>
</section>