<section class="reserve">
    <div class="container">
        <div class="reserve-wrapper">
            <div class="reserve-left">
                <p class="reserve-catagory">Reserve</p>
                <h2 class="section-title reserve-title">A Table</h2>
                <form action="">
                    <input type="date" placeholder="9/26/2019">
                    <input type="time">
                    <select name="" id="">
                        <option value="">Choice</option>
                        <option value="1people">1 people</option>
                        <option value="2people">2 people</option>
                    </select>
                    <button class="btn btn--reserve">Find a table</button>
                </form>
            </div>
            <div class="reserve-right">
                <a data-fancybox data-src="imges/img/reserve-picture.jpg" data-caption="Photo restorant">
                    <img class="reserve__img" src="imges/img/reserve-picture.jpg" alt="Photo restorant">
                </a> 
            </div>
        </div>
    </div>
</section>