<section class="reviews">
    <div class="container">
        <h4 class="reviews-slogan">What people</h4>
        <h2 class="reviews-title">Say About Us</h2>
        <div class="slider">
            <div class="slider-wrapper">
                <div class="block__img">
                    <img class="block__img-slide" src="imges/img/slider-mugnus-photo.svg" alt="Mugnus Kekhuis photo">
                </div>
                <p class="slider__desc">
                    As I went on, still gaining velocity, 
                    the palpitation of night and day merged 
                    into one continuous greyness the sky took 
                    on a wonderful deepness of blue, a splendid 
                    luminous color like that of early twilight;
                    the jerking sun became a streak of fire, 
                    a brilliant arch.
                </p>
                <img class="slider__img-stars" src="imges/img/stars.svg" alt="">
                <p class="slider__person">Magnus Kekhuis</p>
                <p class="slider__vacancies">Restaurant expert</p>
            </div>
            <div class="slider-wrapper">
                <div class="block__img">
                    <img class="block__img-slide" src="imges/img/slider-mugnus-photo.svg" alt="Mugnus Kekhuis photo">
                </div>
                <p class="slider__desc">
                    As I went on, still gaining velocity, 
                    the palpitation of night and day merged 
                    into one continuous greyness the sky took 
                    on a wonderful deepness of blue, a splendid 
                    luminous color like that of early twilight;
                    the jerking sun became a streak of fire, 
                    a brilliant arch.
                </p>
                <img class="slider__img-stars" src="imges/img/stars.svg" alt="">
                <p class="slider__person">Magnus Kekhuis</p>
                <p class="slider__vacancies">Restaurant expert</p>
            </div>
            <div class="slider-wrapper">
                <div class="block__img">
                    <img class="block__img-slide" src="imges/img/slider-mugnus-photo.svg" alt="Mugnus Kekhuis photo">
                </div>
                <p class="slider__desc">
                    As I went on, still gaining velocity, 
                    the palpitation of night and day merged 
                    into one continuous greyness the sky took 
                    on a wonderful deepness of blue, a splendid 
                    luminous color like that of early twilight;
                    the jerking sun became a streak of fire, 
                    a brilliant arch.
                </p>
                <img class="slider__img-stars" src="imges/img/stars.svg" alt="">
                <p class="slider__person">Magnus Kekhuis</p>
                <p class="slider__vacancies">Restaurant expert</p>
            </div>
        </div>
    </div>
</section>