.btn {
    border: 1px solid rgba(255, 255, 255, 0.2951);
    border-radius: 3px;
    width: 170px;
    height: 48px;
    padding: 12px 44px;
    font-size: 18px;
}

.btn--promo {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
        background: #6327EB;
        border-color: #6327EB;
    }
}

.btn--history {
    text-decoration: none;
    background: #6327EB;
    color: #ffffff;
    font-size: 18px;
}

.btn--lunch {
    background: #6327EB;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.btn--reserve {
    text-decoration: none;
    background: #6327EB;
    color: #ffffff;
    font-size: 18px;
    padding: 12px;
}

button.slick-prev {
    left: 100px !important;
}

button.slick-next {
    left: 990px !important;
}

// mobile

@media (max-width: 1400px) {
    button.slick-prev {
        left: 70px !important;
    }
}

@media (max-width: 1350px) {
    button.slick-next {
        left: 930px!important;
    }
}

@media (max-width: 1320px) {
    button.slick-prev {
        left: 45px!important;
    }
}
 
@media (max-width: 1300px) {
    button.slick-next {
        left: 910px!important;
    }
}

@media (max-width: 1270px) {
    button.slick-next {
        left: 875px!important;
    }
}

@media (max-width: 1225px) {
    button.slick-prev {
        left: 10px!important;
    }

    button.slick-next {
        left: 865px!important;
    }
}

@media (max-width: 1215px) {
    .slider__desc {
        max-width: 530px;
    }

    button.slick-prev {
        left: 76px!important;
    }

    button.slick-next {
        left: 775px!important;
    }
}


@media (max-width: 768px) {
    .btn--reserve {
        margin-bottom: 90px;
    }
}

