@font-face {
    font-family: 'Pt-Serif';
    src: url('../fonts/ptserifbold.woff2');
    // src: url('../fonts/ptserifbold.woff');
    // src: url('../fonts/ptserifbold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Robotolight.woff2');
    src: url('../fonts/Robotolight.woff');
    src: url('../fonts/Robotolight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Robotolight.woff2');
    font-weight: 400;
}