.history {
    background: #f9f7f2;
    padding: 180px 130px 160px;
    position: relative;
}

.history-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.history__left {
    position: relative;
    z-index: 0;
    &::after {
        content: url('../imges/img/square-dots.svg');
        display: block;
        width: 176px;
        position: absolute;
        left: 435px;
        bottom: 330px;
        z-index: -1;
    }
}

.history__dots-img {
    position: absolute;
    top: 66px;
    left: 442px;
}

.history__right {
    margin-left: 130px;
}

.history__catagory {
    font-size: 24px;
    font-family: 'Robotolight';
}

.history__title {
    margin-bottom: 20px;
}

.history__text {
    font-size: 20px;
    font-family: 'Robotolight';
    margin-bottom: 25px;
    line-height: 32px;
}

.history__icon {
    width: 170px;
    height: 170px;
    background: #BBA285;
    position: absolute;
    bottom: 230px;
    left: 80px;
    .history__circle {
        border: 1px solid #ffffff;
        border-radius: 50%;
        width: 112px;
        height: 112px;
        display: flex;
        margin: 0 auto;
        margin-top: 50%;
        transform: translateY(-50%);
    }
    .histoty__fork-img {
        padding: 32px 40px;
    }
}



// mobile

@media (max-width: 1024px) {
    .history {
          padding: 160px 75px;
    }

    .history__img {
        width: 427px;
        height: 560px;
    }

    .history__left {
        &::after {
            left: 294px;
            bottom: 195px;
        }
    }

    .history__icon {
        left: 27px;
    }
}

@media (max-width: 768px) {
    .history__img {
        width: 345px;
    }

    .history__left:after {
        left: 186px;
        bottom: 322px;
    }

    .history__right {
        margin-left: 30px;
    }
}