.history {
    background: #f9f7f2;
    padding: 180px 130px 160px;
    position: relative;
}

.history-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.history__dots-img {
    position: absolute;
    top: 66px;
    left: 442px;
}

.histoty__info {
    margin-left: 130px;
}

.history__slogan {
    font-size: 24px;
    font-family: 'Robotolight';
}

.history__title {
    margin-bottom: 20px;
}

.history__text {
    font-size: 20px;
    font-family: 'Robotolight';
    margin-bottom: 25px;
}

.history-icon {
    width: 170px;
    height: 170px;
    background: #BBA285;
    position: absolute;
    bottom: 230px;
    left: 80px;
    .history__circle {
        border: 1px solid #ffffff;
        border-radius: 50%;
        width: 112px;
        height: 112px;
        display: flex;
        margin: 0 auto;
        margin-top: 50%;
        transform: translateY(-50%);
    }
    .histoty__fork-img {
        padding: 32px 40px;
    }
}



// mobile

// @media (max-width: 1440px) {
//     .history-icon {
//         right: 1182px;
//     }
// }

// @media (max-width: 1263px) {
//     .history-icon {
//         right: 980px;
//     }
// }
