.lunch {
    padding: 118px 0 95px;
}

.lunch-catagory {
    font-size: 24px;
    font-family: 'Roboto-light';
    text-align: center;
    margin-bottom: 30px;
}

.lunch-title {
    font-size: 56px;
    font-family: 'Pt-Serif';
    text-align: center;
    margin-bottom: 50px;
}

.lunch-wrapper {
    display: flex;
    margin-bottom: 65px;
}

.lunch__left {
    border-right: 1px solid #EAEAEA;
}

.lunch__right {
    margin-left: 30px;
}

.lunch__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    &:last-child {
        border-bottom: none;
    }
    .lunch__text {
        margin-right: 114px;
    }
    .lunch__price {
        margin-right: 20px;
        margin-top: -15px;
        font-size: 20px;
    }
    .lunch__text {
        margin-right: 0;
    }
}

// Mobile

@media (max-width: 1024px) {
    .lunch__desc-title {
        font-size: 20px;
    }

    .lunch__desc {
        font-size: 14px;
    }

    .lunch__img {
        width: 112px;
        height: 112px;
    }
}

@media (max-width: 768px) {
    .lunch-wrapper {
        flex-direction: column;
    }
    .lunch__item {
        justify-content: space-between;    
    }
    .lunch__left {
        border: none;
    }
    .lunch__right {
        margin-left: 0;
    }
}